# Dependencies
**/node_modules/
**/venv/

# Environment variables
**/.env

# Build files
**/build/
**/dist/
**/.expo/
**/web-build/

# Logs
**/*.log

# System files
.DS_Store

# IDE
.vscode/
.idea/

# Python
**/__pycache__/
**/*.pyc